In [157]:
import pandas as pd
import numpy as np

In [158]:
# List all csv files
csv_files = ['Combined_Final_DE.csv','Combined_Final_EN.csv','Combined_Final_FR.csv']
# Create a list of data frames
dfs = []
# iterate through list of csv_files to create data frames
for csv_file in csv_files:
    file_name = r'data/raw/'+csv_file
    df = pd.read_csv(file_name, sep=';')
    dfs.append(df)
dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   month               279 non-null    object
 1   Wiki Views DE       100 non-null    float64
 2   Devices DE_Desktop  100 non-null    float64
 3   Devices DE_Mobile   100 non-null    float64
 4   Edits DE            278 non-null    float64
 5   Active Editors DE   276 non-null    float64
 6   Edited Pages DE     278 non-null    float64
 7   New Users DE        276 non-null    float64
 8   Total Pages DE      278 non-null    float64
dtypes: float64(8), object(1)
memory usage: 19.7+ KB

In [159]:
# Create data frame list for last five years
five_yr_dfs = []
# Iterate through dfs to add year column to all data frames
# and then add last 5 year data to new five_yr_dfs
for df in dfs:
    df["month"] = pd.to_datetime(df["month"], errors='coerce')
    df['year'] = df['month'].dt.year
    five_yr_dfs.append(df[df['year'] >= 2019])

display(five_yr_dfs[0])
display(five_yr_dfs[1])
display(five_yr_dfs[2])

,month,Wiki Views DE,Devices DE_Desktop,Devices DE_Mobile,Edits DE,Active Editors DE,Edited Pages DE,New Users DE,Total Pages DE,year
36,2019-01-01 00:00:00+00:00,1.271637e+09,46715101.0,66834287.0,933894.0,7042.0,313282.0,11834.0,4759834.0,2019
37,2019-02-01 00:00:00+00:00,1.055145e+09,44178330.0,61113141.0,800623.0,6470.0,278340.0,9736.0,4780440.0,2019
38,2019-03-01 00:00:00+00:00,1.140398e+09,46811148.0,67569485.0,917152.0,6581.0,333817.0,10828.0,4801717.0,2019
39,2019-04-01 00:00:00+00:00,1.063777e+09,41576306.0,63639589.0,855552.0,6315.0,318619.0,8740.0,4821217.0,2019
40,2019-05-01 00:00:00+00:00,1.122558e+09,44487562.0,65795725.0,955685.0,6489.0,375760.0,9198.0,4842730.0,2019
...,...,...,...,...,...,...,...,...,...,...
95,2023-12-01 00:00:00+00:00,1.155406e+09,34426836.0,66134901.0,983254.0,5965.0,445758.0,5802.0,6032620.0,2023
96,2024-01-01 00:00:00+00:00,1.335740e+09,37366825.0,70189218.0,921386.0,6539.0,328619.0,6835.0,6053905.0,2024
97,2024-02-01 00:00:00+00:00,1.116156e+09,36119795.0,62894022.0,827005.0,6078.0,287395.0,5817.0,6072683.0,2024
98,2024-03-01 00:00:00+00:00,1.142964e+09,36045722.0,68117290.0,823695.0,6133.0,289524.0,5981.0,6092028.0,2024
99,2024-04-01 00:00:00+00:00,1.077280e+09,34427209.0,68639206.0,815033.0,6006.0,301733.0,6057.0,6110707.0,2024

,month,Wiki Views EN,New Users EN,Total Pages EN,Edited Pages EN,Active Editors EN,Devices EN_Desktop,Devices EN_Mobile,Edits EN,year
199,2019-01-01 00:00:00+00:00,9.834685e+09,161694.0,35490947,1502440,38191,261151968.0,606173389.0,4724326,2019
200,2019-02-01 00:00:00+00:00,8.410128e+09,146677.0,35679989,1324805,37553,259326821.0,563958381.0,4178526,2019
201,2019-03-01 00:00:00+00:00,9.068839e+09,157663.0,35873253,1412771,40621,261845466.0,604611049.0,4553313,2019
202,2019-04-01 00:00:00+00:00,8.958828e+09,131829.0,36042930,1357052,39266,248635438.0,588465756.0,4339740,2019
203,2019-05-01 00:00:00+00:00,8.870500e+09,130525.0,36240287,1470245,37684,247450148.0,594675343.0,4543633,2019
...,...,...,...,...,...,...,...,...,...,...
258,2023-12-01 00:00:00+00:00,1.120958e+10,86717.0,46015457,1890356,37992,224352311.0,660662724.0,5075489,2023
259,2024-01-01 00:00:00+00:00,1.269737e+10,100155.0,46215578,4983617,40577,249940786.0,696463850.0,8576637,2024
260,2024-02-01 00:00:00+00:00,1.103730e+10,88212.0,46390984,6013875,39455,250319971.0,644431717.0,9444178,2024
261,2024-03-01 00:00:00+00:00,1.151914e+10,89410.0,46584802,1994074,40839,284060577.0,687013148.0,5390805,2024
262,2024-04-01 00:00:00+00:00,1.090896e+10,88056.0,46792699,1693842,40403,269012813.0,688674134.0,4950645,2024

,month,Wiki Views FR,Edited Pages FR,Total Pages FR,Active Editors FR,New User FR,Edits FR,Devices FR_Desktop,Devices FR_Mobile,year
209,2019-01-01 00:00:00+00:00,9.117736e+08,345716,8243297,6000.0,17772.0,952473,34794792.0,62376930.0,2019
210,2019-02-01 00:00:00+00:00,7.794627e+08,268216,8285848,5464.0,14786.0,759986,33048868.0,57758220.0,2019
211,2019-03-01 00:00:00+00:00,8.593409e+08,305572,8332388,6071.0,16842.0,865105,34459632.0,62093918.0,2019
212,2019-04-01 00:00:00+00:00,8.234343e+08,292528,8374208,5827.0,14392.0,825404,32788255.0,61563786.0,2019
213,2019-05-01 00:00:00+00:00,8.438438e+08,281781,8416814,5652.0,15013.0,822028,34505556.0,63806293.0,2019
...,...,...,...,...,...,...,...,...,...,...
268,2023-12-01 00:00:00+00:00,1.133013e+09,383084,10926337,5600.0,9304.0,902098,27255616.0,66224150.0,2023
269,2024-01-01 00:00:00+00:00,1.309785e+09,357818,10969144,5825.0,10277.0,950564,28687521.0,68851889.0,2024
270,2024-02-01 00:00:00+00:00,1.112986e+09,327793,11006727,5843.0,9646.0,868936,28601001.0,63201817.0,2024
271,2024-03-01 00:00:00+00:00,1.192545e+09,352932,11044604,5763.0,10073.0,910486,29867025.0,66929390.0,2024
272,2024-04-01 00:00:00+00:00,1.004010e+09,319500,11081246,5484.0,9537.0,846508,28391388.0,65857106.0,2024

In [160]:
for df in five_yr_dfs:
    print("null check")
    display(df.isnull().sum())
    print(f"Duplicate check: {df.duplicated().sum()} \n")

null check

month                 0
Wiki Views DE         0
Devices DE_Desktop    0
Devices DE_Mobile     0
Edits DE              0
Active Editors DE     0
Edited Pages DE       0
New Users DE          0
Total Pages DE        0
year                  0
dtype: int64

Duplicate check: 0

null check

month                 0
Wiki Views EN         0
New Users EN          0
Total Pages EN        0
Edited Pages EN       0
Active Editors EN     0
Devices EN_Desktop    0
Devices EN_Mobile     0
Edits EN              0
year                  0
dtype: int64

Duplicate check: 0

null check

month                 0
Wiki Views FR         0
Edited Pages FR       0
Total Pages FR        0
Active Editors FR     0
New User FR           0
Edits FR              0
Devices FR_Desktop    0
Devices FR_Mobile     0
year                  0
dtype: int64

Duplicate check: 0

In [161]:
#Clean column names
for df in five_yr_dfs:
    df.rename(columns={col:col.strip().lower().replace(' ','_') for col in df.columns}, inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20172\315478648.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={col:col.strip().lower().replace(' ','_') for col in df.columns}, inplace=True)

In [162]:
# Creating Cleaned csv file
for df in five_yr_dfs:
    language = [col for col in df.columns if col.startswith('wiki_views_')]
    language_code = language[0][-2:]
    file_name = 'data/cleaned/Wikipedia_data_'+language_code.upper()+".csv"
    display(file_name)
    df.to_csv(file_name, index=False)

'data/cleaned/Wikipedia_data_DE.csv'

'data/cleaned/Wikipedia_data_EN.csv'

'data/cleaned/Wikipedia_data_FR.csv'